*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 4em;
    margin-bottom: 4em;
    box-shadow: 0 0 0.2em #a6a8aa;
}

#logo{
    height: 4em;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo > img{
    width: 9em;
}

#user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#user > img{
    width: 2.2em;
    height: 2.2em;
}

#user > img:hover{
    cursor: pointer;
}

#div-pai{
    display: flex;
    justify-content: center;
}

#conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.15em;
}

#titulo{
    margin-top: 1em;
    margin-bottom: 1.8em;
}

#titulo > h2{
    font-size: 1.8em;
    font-weight: 300;
}

.conteudo-vizualizar{
    width: 130%;
}

.linha-tabela{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dado{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid #ccc;
    height: auto;
    padding: 10px;
    font-size: 1em;
    color: #555;
    border-radius: 0.1em;
}

.dado > p{
    font-size: 1em;
    color: #555;
    margin: 0;
}

.ID {
    font-weight: bold;
}

.nome {
    text-align: start;
}

.capacidade {
    text-align: start;
}

.sala {
    text-align: start;
}

.metro {
    text-align: start;
}

.cep {
    text-align: start;
}

.endereco {
    text-align: start;
}

.numero {
    text-align: start;
}

.complemento {
    text-align: start;
}

.bairro {
    text-align: start;
}

.estado {
    text-align: start;
}

.cidade {
    text-align: start;
}
