*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body{
    background-color: #e9ecf3;
}

nav{
    background-color: #fff;
    display: flex;
    height: 4em;
    margin-bottom: 4em;
    box-shadow: 0 0 0.2em #a6a8aa;
}

#logo{
    height: 4em;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo > img{
    width: 9em;
}

#opcoes-centro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 50%;
}

#opcoes-centro > a{
    color: #193441;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 700;
}

#opcoes-centro > a:hover{
    color: #5a5f63;
}

#user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#user > img{
    width: 2.2em;
    height: 2.2em;
}

#user > img:hover{
    cursor: pointer;
}

#div-pai{
    display: flex;
    justify-content: center;
}

#conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: #fff;
    border-radius: 0.15em;
}

#organizador{
    margin-top: 1em;
    margin-bottom: 1.8em;
}

#organizador > h2{
    font-size: 1.8em;
    font-weight: 300;
}

form{
    width: 95%;
}

label{
    font-weight: 400;
    margin-bottom: 0.3em;
}

input{
    border: 1px solid #ccc;
    height: 2em;
    padding: 6px 12px;
    font-size: 1em;
    color: #555;
    border-radius: 0.1em;
}

.form-linha{
    display: flex;
    gap: 3.3%;
    margin-bottom: 1em;
}

.grupo-linha1{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.grupo-pequeno-linha1{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.grupo-pequeno-linha2{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.grupo-grande-linha2{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.grupo-medio-linha2{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.grupo-linha3{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.grupo-pequeno-linha3{
    display: flex;
    flex-direction: column;
    width: 20%;
}

#form-linha-salvar{
    display: flex;
    justify-content: end;
}

#form-linha-salvar > button{
    background-color: #ef4136;
    color: #fff;
    text-decoration: none;
    width: 9em;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    border-radius: 0.3em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}

#form-linha-salvar > button:hover{
    cursor: pointer;
}

#form-linha-salvar > a{
    color: #52616b;
    font-weight: 700;
    font-size: 0.8em;
    margin-top: 1.5em;
}

#form-linha-salvar > a{

    color: white;
}

.botao-ver-localizacao {
    position: absolute;
    top: 33.65em; 
    right: 118.29em; 
    padding: 0.625em 1.25em;
    background-color: #52616b;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.botao-ver-localizacao:hover {
    background-color: black;
}